<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"Электронная очередь Байкал-сервис"</title>
</head>
<body>
<div class="headSite" align="center">
    <h1 th:text="'Сотрудник: ' + ${nameUser} + '.'">Привет, Гость!</h1>
    <h4 th:text="'Статус: ' + ${statusManager} + '.'"></h4>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <div class="menu">
        <table >
            <tr>
                <td th:each="menuUnit, state : ${menuUI.getMenuStruct()}"
                    th:if="${menuUI.getByRole(menuUnit)}">
                    <a th:href="@{__${menuUnit.get('URL')}__}"
                       th:text="${menuUnit.get('name')}"></a>
                </td>
            </tr>
        </table>
        <hr width="95%">
    </div>
</div>

<div align="center">
    <div align="center" th:if="${securityService.isAdministrator()}">
        <form action="#" th:action="@{/createTicket}" th:object="${ticketCreatorUI}"  method="post">
        <table>
            <tr>
                <td>Очередь</td>
                <td>Услуга</td>
            </tr>
            <tr>
                <td><select name="queue" th:field="*{queue}">
                    <option th:each="queue : ${queues}"
                            th:value="${queue.getId()}"
                            th:utext="${queue.getName()}"/>
                </select></td>
                <td><select name="service" th:field="*{service}">
                    <option th:each="service : ${services}"
                            th:value="${service.getId()}"
                            th:utext="${service.getName()}"/>
                </select></td>
            </tr>
            <tr><td></td><td><button type="submit" name="create">Создать талон</button></td></tr>
        </table>
        </form>
        <th:block th:unless="${messageCreate==''}">
            <p th:text="${messageCreate}"></p>
        </th:block>
        <a href="/">Обновить</a>
        <table border="1px">
            <tr>
                <td>Талон</td>
                <td>Имя клиента</td>
                <td>Дата создания</td>
                <td>Дата распредеелния</td>
                <td>Дата начала обслуживания</td>
                <td>Дата завершения обслуживания</td>
                <td>Статус</td>
                <td>Услуга</td>
                <td>Очередь</td>
                <td>Менеджер</td>
            </tr>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.get('name')}"></td>
                <td th:text="${ticket.get('nameClient')}"></td>
                <td th:text="${ticket.get('dateCreate')}"></td>
                <td th:text="${ticket.get('dateDistrib')}"></td>
                <td th:text="${ticket.get('dateStartService')}"></td>
                <td th:text="${ticket.get('dateEndService')}"></td>
                <td th:text="${ticket.get('status')}"></td>
                <td th:text="${ticket.get('service')}"></td>
                <td th:text="${ticket.get('queue')}"></td>
                <td th:text="${ticket.get('manager')}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>