<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'QBS: ' + ${queue.getName()}">Настройки очереди</title>
    <style>
        select {
            width: 300px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>
<div class="headSite" align="center">
    <h1 th:text="'Сотрудник: ' + ${nameUser} + '.'">Привет, Гость!</h1>
    <h4 th:text="'Статус: ' + ${statusManager} + '.'"></h4>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <div class="menu">
        <table >
            <tr>
                <td th:each="menuUnit, state : ${menuUI.getMenuStruct()}"
                    th:if="${menuUI.getByRole(menuUnit)}">
                    <a th:href="@{__${menuUnit.get('URL')}__}"
                       th:text="${menuUnit.get('name')}"></a>
                </td>
            </tr>
        </table>
        <hr width="95%">
    </div>
</div>
<div align="left">
    <form action="#" th:action="@{/saveQueue}" th:object="${queue}"  method="post">
        <input hidden type="text" name="id" th:value="*{id}">
        <input hidden type="text" name="UUID" th:value="*{UUID}">
        <table>
            <tr>
                <td align="right">Название очереди:</td>
                <td align="left">
                    <input name="name" type="text" th:value="*{name}">
                </td>
            </tr>
            <tr>
                <td align="right">Количество талонов, выводимых на одну страницу экрана :</td>
                <td align="left">
                    <input name="quantityTablo" type="text" th:value="*{quantityTablo}">
                </td>
            </tr>
            <tr>
                <td align="right">Количество талонов в очереди для информирования операторов:</td>
                <td align="left">
                    <input name="quantityInform" type="text" th:value="*{quantityInform}">
                </td>
            </tr>
            <tr>
                <td align="right">Время в секундах для периодичности информирования о количестве талонов в очереди:</td>
                <td align="left">
                    <input name="timeInform" type="text" th:value="*{timeInform}">
                </td>
            </tr>
            <tr>
                <td align="right">Меню киосков:</td>
                <td align="left">
                    <select name="kioskMenu" th:field="*{kioskMenu}">
                        <option th:each="kioskMenu : ${kioskMenus}"
                                th:value="${kioskMenu.getId()}"
                                th:utext="${kioskMenu.getName()}"/>
                    </select>
                </td>
            </tr>
            <tr><td align="right">Менеджеры:</td></tr>

            <tr th:if="${errorPass!=''}"><td th:text="${errorPass}"></td></tr>
            <tr>
                <td align="right"><button type="submit" name="save">Сохранить</button></td>
                <td align="left">
                    <a href="/settings?currentSet=Queues">Отмена</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>