<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'QBS: ' + ${manager.getName()}">Настройки пользователя</title>
    <style>
        select {
            width: 300px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>
<div class="headSite" align="center">
    <h1 th:text="'Сотрудник: ' + ${nameUser} + '.'">Привет, Гость!</h1>
    <h4 th:text="'Статус: ' + ${statusManager} + '.'"></h4>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <div class="menu">
        <table >
            <tr>
                <td th:each="menuUnit, state : ${menuUI.getMenuStruct()}"
                    th:if="${menuUI.getByRole(menuUnit)}">
                    <a th:href="@{__${menuUnit.get('URL')}__}"
                       th:text="${menuUnit.get('name')}"></a>
                </td>
            </tr>
        </table>
        <hr width="95%">
    </div>
</div>
<div align="left">
    <form action="#" th:action="@{/saveUser}" th:object="${manager}"  method="post">
        <input hidden type="text" name="id" th:value="*{id}">
        <input hidden type="text" name="UUID" th:value="*{UUID}">
        <table>
            <tr>
                <td align="right">Логин (Active Directory):</td>
                <td align="left">
                    <input name="loginAD" type="text" th:value="*{loginAD}">
                </td>
            </tr>
            <tr>
                <td align="right">Ф. И. О.:</td>
                <td align="left">
                    <input name="name" type="text" th:value="*{name}">
                </td>
            </tr>
            <tr>
                <td align="right">Страый пароль:</td>
                <td align="left">
                    <input name="currentPassword" type="password" th:value="*{currentPassword}">
                </td>
            </tr>
            <tr>
                <td align="right">Новый пароль:</td>
                <td align="left">
                    <input name="newPassword" type="password" th:value="*{newPassword}">
                </td>
            </tr>
            <tr>
                <td align="right">Повторно новый пароль:</td>
                <td align="left">
                    <input name="repitPassword" type="password" th:value="*{repitPassword}">
                </td>
            </tr>
            <tr>
                <td align="right">Активный:</td>
                <td align="left">
                    <input name="active" type="checkbox" th:checked="*{active}">
                </td>
            </tr>
            <tr>
                <td align="right">Очередь:</td>
                <td align="left">
                    <select name="queue" th:field="*{queue}">
                        <option th:each="cqueue : ${queues}"
                                th:value="${cqueue.getId()}"
                                th:utext="${cqueue.getName()}"/>
                    </select>
                </td>
            </tr>
            <tr><td>Оказываемые услуги:</td></tr>

            <tr><td>
                <table border="1px">
                    <tr name="services" th:each="service,state : *{ticketServices}">
                        <td th:text="${state.count}"></td>
                        <td>
                            <input disabled type="text" name="service" th:value="*{ticketServices[__${state.index}__].getName()}">
                        </td>

                    </tr>
                </table>
            </td></tr>
            <tr><td>Роли пользователя:</td></tr>
            <tr>
                <td><select name="addingRole" th:field="*{addingRole}">
                    <option th:each="newRole : ${manager.getSelectRoles()}"
                            th:value="${newRole.name()}"
                            th:utext="${newRole.name()}"></option>
                </select> </td>
                <td><button type="submit" name="addRole">Добавить роль</button></td>
            </tr>
            <tr><td>
                <table border="1px">
                    <tr name="roles" th:each="role,state : *{roles}">
                        <td th:text="${state.count}"></td>
                        <td>
                            <input disabled type="text" name="role" th:value="*{roles[__${state.index}__].name()}">
                        </td>
                        <td>
                            <button type="submit" th:value="*{roles[__${state.index}__].name()}" name="delRole">Удалить</button>
                        </td>

                    </tr>
                </table>
            </td></tr>
            <tr th:if="${errorPass!=''}"><td th:text="${errorPass}"></td></tr>
            <tr>
                <td align="right"><button type="submit" name="save">Сохранить</button></td>
                <td align="left">
                    <a href="/settings?currentSet=Users">Отмена</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>