:root{
    --queue-background: #f8d4d4;
    --wait-background: #fff2cc;
    --servicing-background: #e2efda;
    --non-target-background: #a8d8ff;
    --target-background: #0291d3;
    --target-color-text: #ffffff;
    --all-color-text: #000000;
}
td.casementStatus{
    text-align: center;
}

input#casement_{
    text-align: center;
    width: 50px;
}

input#fullName_{
    text-align: center;
    width: 250px;
}

span.elQueue{
    color: #ffffff;
    font: 40px Arial;
    margin: 0px;
}

#headSite{
    padding: 0px;
}

.page_click{
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: 30px;
    background-color: #a8d8ff;
    color: black;
    position: absolute;
    margin-top: 20px;
    display: table;
}
#body_page{
    position: relative;
}
#head_page{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background: linear-gradient(to bottom, #0291d3, #ffffff);
    border-radius: 10px 10px 0 0;
}

.cell{
    display: table-cell;
    vertical-align: middle;
}
#pages{
    position: relative;
}
#page_0{
    margin-left: 20px;
}
#page_1{
    margin-left: 275px;
}
#page_2{
    margin-left: 530px;
}

#legend{
    margin-top: 15px;
    margin-left: 50px;
    border: 1px solid black;
}

.cell_legend{
    height: 15px;
    width: 220px;
    border: 1px solid black;
}

#legend_queue{
    background-color: var(--queue-background);
}
#legend_wait{
    background-color: var(--wait-background);
}
#legend_servicing{
    background-color: var(--servicing-background);
}

.legend_queue{
    background-color: var(--queue-background);
}
.legend_wait{
    background-color: var(--wait-background);
}
.legend_servicing{
    background-color: var(--servicing-background);
}

.talons_casement{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 30px;
    text-align: center;
}
.talons_talon{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 75px;
    text-align: center;
}
.talons_status{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 98px;
}
.talons_manager{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 250px;
}
.talons_date_queue{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 140px;
}
.talons_date_distrib{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 140px;
}
.talons_date_service{
    border: 1px solid;
    text-align: center;
    width: 140px;
}
#head_table_talons{
    border-collapse: collapse;
    margin-top: 30px;
    font: 13px Arial;
}
#line_admin{
    font: 13px Arial;
}
#tickets_data {
    border-collapse: collapse;
}

#page_0_left{
    width: 65%;
    height: 100%;
    border-right: 3px ridge gray;
    position: absolute;
    margin-left: 0;
    overflow-x: auto;
    overflow-y: auto;
}
#page_0_right{
    width: 35%;
    height: 100%;
    position: absolute;
    margin-left: 65%;
    overflow-x: auto;
    overflow-y: auto;
}
#page_0_top{
    width: 100%;
    height: 70%;
    position: absolute;
}
#page_0_bottom{
    width: 100%;
    height: 30%;
}
#ticket_list{
    width: 100%;
    font: 13px Arial;
}
#head_table_managers{
    margin-top: 65px;
    border-collapse: collapse;
    font: 13px Arial;
}
#managers_data{
    border-collapse: collapse;
}

.managers_casement{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 30px;
}
.managers_status{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 120px;
}
.managers_manager{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 250px;
}
.managers_time{
    border: 1px solid;
    text-align: center;
    width: 75px;
}

#head_table_managersList{
    border-collapse: collapse;
}

.managers_count{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 30px;
}
.managers_managerName{
    border: 1px solid;
    text-align: center;
    width: 300px;
}

#managers_dataWithQueue{
    border-collapse: collapse;
}
#managers_dataWithoutQueue{
    border-collapse: collapse;
}

.select_form_manager_settings{
    width: 250px;
}

.header3{
    font: 35px Arial;
}

.error_mes{
    background-color: var(--queue-background);
}

#queue_settings_kiosks{
    border-collapse: collapse;
}

.kiosk_table_1{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.kiosk_table_2{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.kiosk_table_3{
    border: 1px solid;
}

#queue_settings_tablos{
    border-collapse: collapse;
}

.tablo_table_1{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.tablo_table_2{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.tablo_table_3{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.tablo_table_4{
    border: 1px solid;
}

#devices_list{
    margin-top: 20px;
}

.td_device{
    width: 100px;
}

.td_device_name{
    width: 100px;
    font: 13px Arial;
}
.device_logo{
    height: 50px;
}

.div_device_NOT_OK{
    background-color: var(--queue-background);
}
.div_device_OK{
    background-color: var(--servicing-background);
}
.div_device_MAYBE_NOT_OK{
    background-color: var(--wait-background);
}

.block_device{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#png_find{
    height: 20px;
    margin-top: 0px;
}

#png_clear{
    height: 20px;
}

#nameUserFind{
    margin-top: 0px;
    height: 20px;
    width: 300px;
}