@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('/fonts/SFProDisplay-Bold.woff') format('woff'),
    url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;;
}

@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('/fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('/fonts/SFProDisplay-Regular.woff') format('woff'),
    url('/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bodyFull{
    cursor: inherit;
}

#registerComment{
    margin: auto;
    width: 300px;
}

#bodyKiosk{
    cursor: inherit;
    position: absolute;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

#logo{
    cursor: inherit;
    position: absolute;
    margin-top: 197px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/img/logo.png");
    background-size: cover;
    width: 571px;
    height: 89px;
}

#questionYesNo{
    cursor: inherit;
    width: 699px;
    height: 120px;
    position: absolute;
    margin-top: 70px;
    text-align: center;
}

p.questionYesNo{
    cursor: inherit;
    color: #0291d3;
    font: 50px SFProDisplay-Regular;
}

#labelPrinting{
    cursor: inherit;
    width: 611px;
    height: 120px;
    position: absolute;
    margin-top: 70px;
    text-align: center;
}

p.labelPrinting{
    cursor: inherit;
    color: #0291d3;
    font: 50px SFProDisplay-Regular;
}

#datetime{
    cursor: inherit;
    background-color: #0291d3;
}

#date{
    cursor: inherit;
    color: #ffffff;
    text-align: left;
    font: 26px SF Pro Display;
}

#time{
    cursor: inherit;
    color: #ffffff;
    text-align: left;
    font: 26px SF Pro Display;
}

#error_tile{
    cursor: inherit;
    width: 300px;
    height: 100px;
    background-color: #bf939c;
}

div.button_YesNo{
    cursor: inherit;
    width: 412px;
    height: 106px;
    background-color: #0291d3;
    border: 0px;
    border-radius: 15px;
    color: #ffffff;
    font: 34px SF Pro Display;
    box-shadow: 5px 5px 10px #aaaaaa;
}
div.button_Back{
    cursor: inherit;
    width: 412px;
    height: 80px;
    background-color: #136fba;
    border: 0px;
    border-radius: 15px;
    color: #ffffff;
    font: 34px SF Pro Display;
    box-shadow: 5px 5px 10px #aaaaaa;
}

div.button_service{
    cursor: inherit;
    width: 680px;
    height: 106px;
    background-color: #0291d3;
    border: 0px;
    border-radius: 15px;
    color: #ffffff;
    font: 34px SF Pro Display;
    box-shadow: 5px 5px 10px #aaaaaa;
}

h4 {
    cursor: inherit;
    color: red;
}

body {
    cursor: url('/img/cursor_tr.png'), auto;
    background-image: url("/img/background.png");
    background-size: cover;
    margin: 0px;
}