#parameters_ticket_list{
    width: 80%;
    height: 95px;
    background-color: #0291d3;
    border-radius: 0 0 10px 10px;
}

#service_find{
    width: 150px;
}

#queue_find{
    width: 150px;
}

#current_page{
    width: 50px;
}

#table_ticket_list{
    margin-top: 10px;
    border-collapse: collapse;
    border: black 1px solid;
}

#ticket_list_report{
    overflow: scroll;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color:#ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 5px;
    background-color:#a8d8ff;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#0291d3;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.headField{
    text-align: center;
    word-break: break-all;
}

.center{
    text-align: center;
}

.field{
    font: 12px Arial;
    padding: 2px;
}

.name{
    border: black 1px solid;
    width: 70px;
}
.dateCreate{
    border: black 1px solid;
    width: 100px;
}
.date_print{
    border: black 1px solid;
    width: 100px;
}
.date_distrib{
    border: black 1px solid;
    width: 100px;
}
.date_start{
    border: black 1px solid;
    width: 100px;
}
.date_end{
    border: black 1px solid;
    width: 100px;
}
.status_field{
    border: black 1px solid;
    width: 200px;
}
.service_name{
    border: black 1px solid;
    width: 200px;
}
.queue_field{
    border: black 1px solid;
    width: 100px;
    word-break: break-all;
}
.name_manager{
    border: black 1px solid;
    width: 200px;
    word-break: break-all;
}
.contractor_field{
    border: black 1px solid;
    width: 200px;
    word-break: break-all;
}
.selling{
    border: black 1px solid;
    width: 200px;
    word-break: break-all;
}
.smallFont{
    font: 10px Arial;
}