div.blockWork{
    background-color: #0291d3;
    margin: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    font: 20px Arial;
    padding: 15px;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.buttonClient{
    background-color:rgba(100, 100, 100, 0.8);
    margin: 10px 10px;
    border-radius: 8px;
    color: #ffffff;
    font: 20px Arial;
    padding: 5px;
    box-shadow: 5px 5px 10px #aaaaaa;

}

td.casementStatus{
    text-align: center;
}

input#casement_{
    text-align: center;
    width: 50px;
}

input#fullName_{
    text-align: center;
    width: 250px;
}

span.elQueue{
    color: #ffffff;
    font: 40px Arial;
    margin: 0px;
}

#headSite{
    padding: 0px;
}